.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #dde5f4;
}

.dd-wrapper {
    border: 1px solid burlywood;
    border-radius: 20px;
    background-color: white;
}