/* You can add global styles to this file, and also import other style files */

body {
    background-color: rgb(238, 238, 238);
}

.error {
    font-size: 11px;
    color: #d84c4cd6;
    font-weight: 500;
    font-family: system-ui;
    &::before {
        content: '* ';
    }
}
